/* Global Settings */
body,
#root {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: 
  linear-gradient(to bottom, #7c1717 0%, #e53636 100%),
  radial-gradient(circle, #ec8c25 20%, #d1d1d1 80%),
  linear-gradient(to bottom, #8c2d2d 0%, #8a8686 100%),
  radial-gradient(circle, #e7e9ac 20%, #fa4b4b 80%),
  conic-gradient(rgb(216, 154, 154), rgb(209, 147, 77));
background-blend-mode: overlay;
background-size: 300% 300%; /* Adjust as needed */
background-repeat: no-repeat;

}

/* General Styles */
.pokemon--logo {
  height: 30vh;
  max-width: 50%;
  display: flex;
  align-content: center;
  justify-content: center;
  display: flex;
}

.logo--wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.app--div {
  position: relative;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 20px;
  margin: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 80%;
  max-width: 600px;
  display: flex;
}

/* Pokemon Row Settings */
.row {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100vw;
  height: 80vh;
}

/* Card Styles */
.card,
.card-id {
  flex-direction: column;
  margin: 3%;
  padding: 2.5%;
  border-radius: .45rem;
  font-size: 10px;
}

.card {
  max-width: 25vw;
  height: 35vh;
  background-color: antiquewhite;
  box-shadow: 7px 10px rgba(178, 37, 12, 0.65);
}

.card:hover {
  background-color: rgb(244, 213, 174);
  box-shadow: 7px 10px rgba(178, 37, 12, 0.65);
  max-width: 30vw;
  height: 36vh;
}

.card-id {
  background-color: rgb(234, 139, 38);
  box-shadow: 2px 3px rgba(255, 99, 71, 0.4);
  color: white;
  font-size: 1.2rem;
  font-weight: 600;
  letter-spacing: .1rem;
  font-family: 'PT Serif', sans-serif;
}

.card-sprite {
  width: 10rem;
  height: 11rem;
}

.card-details {
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 0;
  margin: 0;
  font-size: 16px;
  font-family: 'Kanit', sans-serif; 
}

.type-list {
  display: flex; 
  flex-direction: row;
  list-style-type: circle;
}

.type-list > li {
  margin: 0 25%; 
}

.type-list > li::marker {
  color: rgb(222, 76, 76);
}

/* Heading Styles */
h1 {
  margin: 0;
  margin-top: 5%;
  margin-bottom: 2.5%;
  font-size: 4rem;
  font-family: 'Sixtyfour', sans-serif; 
}

h3 {
  margin: 0;
  font-weight: 400;
  font-size: 1rem;
  font-family: 'PT Serif', sans-serif;
}

/* Additional Styles */
.card-name {
  font-size: 20px;
  font-family: 'Sixtyfour', sans-serif;
}

.play-button {
  background-color: rgb(241, 112, 12);
  margin: 0;
  margin-bottom: 10%;
  width: 11rem;
  height: 5rem;
  border-radius: 80%;
  color: rgb(5, 3, 3);
  font-size: 1.5rem;
  font-weight: 700;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5); 
}

.play-button:hover {
  background-color: rgb(246, 134, 48);
}

.audio-player{
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.volume-warning {
  margin: 2%;
  font-weight: 700;
}